<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta http-equiv="x-ua-compatible" content="IE=11;IE=8">
		<title>word格式转化</title>
		<link rel="shortcut icon" th:href="@{/images/icon/web_logo.ico}" >
		<link rel="stylesheet" th:href="@{/css/public.css}" />
        <link rel="stylesheet" th:href="@{/css/format.css}" />
        <script th:src="@{/js/jquery-1.11.3.min.js}"></script>
	</head>
	<body>
		<div class="pdfbody">
			<!-- 菜单按钮 S -->
				<div class="menu_wrap">
				 	<ul>
				 		<li><a href="javascript:void(0)" class="fileWj filePublic">添加文件</a></li>
				 		<li><a href="javascript:void(0)" class="fileWjj filePublic">添加文件夹</a></li>
				 		<li><a href="javascript:void(0)" class="deleteBtn filePublic">清空列表</a></li>
				 	</ul>
				</div>
			<!-- 菜单按钮 E -->
			<!-- 点击拖拽文件区域 S -->
				<div class="file_wrap" style="display:none;">
					<div class="file_main">
						<i class="word"></i>
						<span>
							<input type="file" />
							<a href="javascript:void(0)">点击或拖拽文件添加</a>
						</span>
					</div>
					<p>请添加需要转换的文件，此版本目前支持docs格式</p>
				</div>
			<!-- 点击拖拽文件区域 E -->
			<!-- 文件上传表格 S -->
				<div class="wj_table" style="display:block;">
					<div class="table_main">
						<table>
							<tr>
								<th width="5%">序号</th>
								<th>文件名称</th>
								<th width="8%">文件大小</th>
								<th>状态</th>
								<th width="15%">操作</th>
							</tr>
							<tr>
								<td>1</td>
								<td>2019年公司最新规章制度</td>
								<td>3.1MB</td>
								<td><img th:src="@{/images/ts.png}" alt="" /></td>
								<td>
									<span>
										<a href="javascript:void(0)">打开文件</a>
										<a href="javascript:void(0)" class="Btn">文件</a>
										<a href="javascript:void(0)" class="Btn gbBtn">关闭</a>
									</span>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>2019年公司最新规章制度</td>
								<td>3.1MB</td>
								<td><img th:src="@{/images/ts.png}" alt="" /></td>
								<td>
									<span>
										<a href="javascript:void(0)">打开文件</a>
										<a href="javascript:void(0)" class="Btn">文件</a>
										<a href="javascript:void(0)" class="Btn gbBtn">关闭</a>
									</span>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>2019年公司最新规章制度</td>
								<td>3.1MB</td>
								<td><img th:src="@{/images/ts.png}" alt="" /></td>
								<td>
									<span>
										<a href="javascript:void(0)">打开文件</a>
										<a href="javascript:void(0)" class="Btn">文件</a>
										<a href="javascript:void(0)" class="Btn gbBtn">关闭</a>
									</span>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>2019年公司最新规章制度</td>
								<td>3.1MB</td>
								<td><img th:src="@{/images/ts.png}" alt="" /></td>
								<td>
									<span>
										<a href="javascript:void(0)">打开文件</a>
										<a href="javascript:void(0)" class="Btn">文件</a>
										<a href="javascript:void(0)" class="Btn gbBtn">关闭</a>
									</span>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>2019年公司最新规章制度</td>
								<td>3.1MB</td>
								<td><img th:src="@{/images/ts.png}" alt="" /></td>
								<td>
									<span>
										<a href="javascript:void(0)">打开文件</a>
										<a href="javascript:void(0)" class="Btn">文件</a>
										<a href="javascript:void(0)" class="Btn gbBtn">关闭</a>
									</span>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>2019年公司最新规章制度</td>
								<td>3.1MB</td>
								<td><img th:src="@{/images/ts.png}" alt="" /></td>
								<td>
									<span>
										<a href="javascript:void(0)">打开文件</a>
										<a href="javascript:void(0)" class="Btn">文件</a>
										<a href="javascript:void(0)" class="Btn gbBtn">关闭</a>
									</span>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>2019年公司最新规章制度</td>
								<td>3.1MB</td>
								<td><img th:src="@{/images/ts.png}" alt="" /></td>
								<td>
									<span>
										<a href="javascript:void(0)">打开文件</a>
										<a href="javascript:void(0)" class="Btn">文件</a>
										<a href="javascript:void(0)" class="Btn gbBtn">关闭</a>
									</span>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>2019年公司最新规章制度</td>
								<td>3.1MB</td>
								<td><img th:src="@{/images/ts.png}" alt="" /></td>
								<td>
									<span>
										<a href="javascript:void(0)">打开文件</a>
										<a href="javascript:void(0)" class="Btn">文件</a>
										<a href="javascript:void(0)" class="Btn gbBtn">关闭</a>
									</span>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>2019年公司最新规章制度</td>
								<td>3.1MB</td>
								<td><img th:src="@{/images/ts.png}" alt="" /></td>
								<td>
									<span>
										<a href="javascript:void(0)">打开文件</a>
										<a href="javascript:void(0)" class="Btn">文件</a>
										<a href="javascript:void(0)" class="Btn gbBtn">关闭</a>
									</span>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>2019年公司最新规章制度</td>
								<td>3.1MB</td>
								<td><img th:src="@{/images/ts.png}" alt="" /></td>
								<td>
									<span>
										<a href="javascript:void(0)">打开文件</a>
										<a href="javascript:void(0)" class="Btn">文件</a>
										<a href="javascript:void(0)" class="Btn gbBtn">关闭</a>
									</span>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>2019年公司最新规章制度</td>
								<td>3.1MB</td>
								<td><img th:src="@{/images/ts.png}" alt="" /></td>
								<td>
									<span>
										<a href="javascript:void(0)">打开文件</a>
										<a href="javascript:void(0)" class="Btn">文件</a>
										<a href="javascript:void(0)" class="Btn gbBtn">关闭</a>
									</span>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>2019年公司最新规章制度</td>
								<td>3.1MB</td>
								<td><img th:src="@{/images/ts.png}" alt="" /></td>
								<td>
									<span>
										<a href="javascript:void(0)">打开文件</a>
										<a href="javascript:void(0)" class="Btn">文件</a>
										<a href="javascript:void(0)" class="Btn gbBtn">关闭</a>
									</span>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>2019年公司最新规章制度</td>
								<td>3.1MB</td>
								<td><img th:src="@{/images/ts.png}" alt="" /></td>
								<td>
									<span>
										<a href="javascript:void(0)">打开文件</a>
										<a href="javascript:void(0)" class="Btn">文件</a>
										<a href="javascript:void(0)" class="Btn gbBtn">关闭</a>
									</span>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>2019年公司最新规章制度</td>
								<td>3.1MB</td>
								<td><img th:src="@{/images/ts.png}" alt="" /></td>
								<td>
									<span>
										<a href="javascript:void(0)">打开文件</a>
										<a href="javascript:void(0)" class="Btn">文件</a>
										<a href="javascript:void(0)" class="Btn gbBtn">关闭</a>
									</span>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>2019年公司最新规章制度</td>
								<td>3.1MB</td>
								<td><img th:src="@{/images/ts.png}" alt="" /></td>
								<td>
									<span>
										<a href="javascript:void(0)">打开文件</a>
										<a href="javascript:void(0)" class="Btn">文件</a>
										<a href="javascript:void(0)" class="Btn gbBtn">关闭</a>
									</span>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>2019年公司最新规章制度</td>
								<td>3.1MB</td>
								<td><img th:src="@{/images/ts.png}" alt="" /></td>
								<td>
									<span>
										<a href="javascript:void(0)">打开文件</a>
										<a href="javascript:void(0)" class="Btn">文件</a>
										<a href="javascript:void(0)" class="Btn gbBtn">关闭</a>
									</span>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>2019年公司最新规章制度</td>
								<td>3.1MB</td>
								<td><img th:src="@{/images/ts.png}" alt="" /></td>
								<td>
									<span>
										<a href="javascript:void(0)">打开文件</a>
										<a href="javascript:void(0)" class="Btn">文件</a>
										<a href="javascript:void(0)" class="Btn gbBtn">关闭</a>
									</span>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>2019年公司最新规章制度</td>
								<td>3.1MB</td>
								<td><img th:src="@{/images/ts.png}" alt="" /></td>
								<td>
									<span>
										<a href="javascript:void(0)">打开文件</a>
										<a href="javascript:void(0)" class="Btn">文件</a>
										<a href="javascript:void(0)" class="Btn gbBtn">关闭</a>
									</span>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>2019年公司最新规章制度</td>
								<td>3.1MB</td>
								<td><img th:src="@{/images/ts.png}" alt="" /></td>
								<td>
									<span>
										<a href="javascript:void(0)">打开文件</a>
										<a href="javascript:void(0)" class="Btn">文件</a>
										<a href="javascript:void(0)" class="Btn gbBtn">关闭</a>
									</span>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>2019年公司最新规章制度</td>
								<td>3.1MB</td>
								<td><img th:src="@{/images/ts.png}" alt="" /></td>
								<td>
									<span>
										<a href="javascript:void(0)">打开文件</a>
										<a href="javascript:void(0)" class="Btn">文件</a>
										<a href="javascript:void(0)" class="Btn gbBtn">关闭</a>
									</span>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>2019年公司最新规章制度</td>
								<td>3.1MB</td>
								<td><img th:src="@{/images/ts.png}" alt="" /></td>
								<td>
									<span>
										<a href="javascript:void(0)">打开文件</a>
										<a href="javascript:void(0)" class="Btn">文件</a>
										<a href="javascript:void(0)" class="Btn gbBtn">关闭</a>
									</span>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>2019年公司最新规章制度</td>
								<td>3.1MB</td>
								<td><img th:src="@{/images/ts.png}" alt="" /></td>
								<td>
									<span>
										<a href="javascript:void(0)">打开文件</a>
										<a href="javascript:void(0)" class="Btn">文件</a>
										<a href="javascript:void(0)" class="Btn gbBtn">关闭</a>
									</span>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>2019年公司最新规章制度</td>
								<td>3.1MB</td>
								<td><img th:src="@{/images/ts.png}" alt="" /></td>
								<td>
									<span>
										<a href="javascript:void(0)">打开文件</a>
										<a href="javascript:void(0)" class="Btn">文件</a>
										<a href="javascript:void(0)" class="Btn gbBtn">关闭</a>
									</span>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>2019年公司最新规章制度</td>
								<td>3.1MB</td>
								<td><img th:src="@{/images/ts.png}" alt="" /></td>
								<td>
									<span>
										<a href="javascript:void(0)">打开文件</a>
										<a href="javascript:void(0)" class="Btn">文件</a>
										<a href="javascript:void(0)" class="Btn gbBtn">关闭</a>
									</span>
								</td>
							</tr>
							<tr>
								<td>1</td>
								<td>2019年公司最新规章制度</td>
								<td>3.1MB</td>
								<td><img th:src="@{/images/ts.png}" alt="" /></td>
								<td>
									<span>
										<a href="javascript:void(0)">打开文件</a>
										<a href="javascript:void(0)" class="Btn">文件</a>
										<a href="javascript:void(0)" class="Btn gbBtn">关闭</a>
									</span>
								</td>
							</tr>
						</table>
					</div>
				</div>
			<!-- 文件上传表格 E -->
			<!-- 转换区域 S -->
				<div class="zh_wrap">
					<ul>
						<li><b>输入目录：</b></li>
						<li>
							<p>
								<em><input checked type="radio" name="address" /></em>
								<b>原文件夹目录</b>
							</p>
							<p class="last">
								<em><input type="radio" name="address" /></em>
								<b>自定义：</b>
								<font></font>
								<span>
									<input type="file" />
									<button>浏览</button>
								</span>
								<span class="wjml">
									<input type="file" />
									<button>打开文件目录</button>
								</span>
							</p>
						</li>
						<li class="lassLi">
							<a href="javascript:void(0)">
								<i>开始转换</i>
							</a>
						</li>
					</ul>
				</div>
			<!-- 转换区域 E -->
		</div>
		<script th:src="@{/js/pdf.js}"></script>
	</body>
</html>
